body {
    font-family: 'Limelight';
    font-size: 22px;
    background-image: url(https://i.imgur.com/TIqyQFA.jpg);
    /* background-color: bisque; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 15px;
    margin: 24px;

    a {
        text-decoration: none;
        color: #000;
    }
}

.links {
    display: flex;
    gap: 32px;

    a {
        color: #000;
        font-size: 20px;
        text-decoration: none;
    }

    a:hover {
        color: rgb(133, 133, 133);
    }
}

.aniversario {
    margin: 24px;
    align-items: center;
    justify-content: center;
    color: #fd8e3f;
    font-size: 85px;
    font-family: Limelight;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
}

.contagem {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    margin: 32px;

    h1 {
        color: #000;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.288);
    }

    div {
        color: #000;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
    }
}

.video-fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: center;
}

.fotos {
    margin: 36px 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
    transition: transform 125ms ease-in-out;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.desc {
    padding: 6px 4px;
    font-size: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    display: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fotos:hover {
    transform: rotate(2deg);

    /* box-shadow: 0px 0px 10px rgba(111, 0, 255, 0.5); */
    .desc {
        display: flex;
    }
}

.carta {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
    transition: transform 125ms ease-in-out;
}

.carta:hover {
    transform: scale(1.05);
}

button {
    font-size: 12px;
    padding: 8px;
    border-radius: 16px;
    border: none;
    color: #fff;
    background-color: #fd8e3f;
}

.video {
    margin: 65px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
    transition: transform 125ms ease-in-out;
}

.video:hover {
    transform: scale(1.05);
}

.img2 {
    padding: 50px;
    background-image: url(https://i.imgur.com/nFpmc08.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-bottom: 500px;
}

.btn-love {
    background-color: aliceblue;
    padding: 8px;
    border-radius: 8px;
}

@media (max-width: 1100px) {
    .img2 {
        display: none !important;
    }

    .carta {
        width: 400px;
    }

    .contagem {
        font-size: 16px;
        margin: 20px;
    }
}

.carta {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.carta h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carta p {
    font-size: 16px;
    margin-bottom: 10px;
}

.assinatura {
    margin-top: 20px;
    font-style: italic;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    /* Ajuste conforme necessário */
}

.album-canva {
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    border-radius: 8px;
    will-change: transform;

    div {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.album-canva iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}