body {
    font-family: 'Limelight';font-size: 22px;
    background-image: url(https://i.imgur.com/TIqyQFA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px !important;
}
.video-fotos{
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: center;
}
.fotos{
    margin: 115px 65px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50)
}
.video{
    margin: 65px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50)
}
.img2{
    padding: 50px;
    background-image: url(https://i.imgur.com/nFpmc08.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-bottom: 500px;
}

.btn-love{
    background-color: aliceblue;
    padding: 8px;
    border-radius: 8px;
}

@media (max-width: 768px){
    .img2{
        display: none !important;
    }
}