body {
    font-family: 'Limelight';
    font-size: 22px;
    background-image: url(https://i.imgur.com/TIqyQFA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px !important;
}

.aniversario {
    margin: 24px;
    align-items: center;
    justify-content: center;
    color: #FFB13C;
    font-size: 85px;
    font-family: Limelight;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
}

.contagem {
    display: flex;
    justify-content: space-between;
    margin: 32px;

    h1 {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    div {
        color: rosybrown;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
}

.video-fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: center;
}

.fotos {
    margin: 72px 36px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
    transition: transform 125ms ease-in-out;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.desc {
    padding: 12px 8px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    display: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fotos:hover {
    transform: rotate(2deg);

    /* box-shadow: 0px 0px 10px rgba(111, 0, 255, 0.5); */
    .desc {
        display: flex;
    }
}

.video {
    margin: 65px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
    transition: transform 125ms ease-in-out;
}

.video:hover {
    transform: scale(1.05);
}

.img2 {
    padding: 50px;
    background-image: url(https://i.imgur.com/nFpmc08.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-bottom: 500px;
}

.btn-love {
    background-color: aliceblue;
    padding: 8px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .img2 {
        display: none !important;
    }
}